<div id="content">
    <app-loader *ngIf="showSpinner"></app-loader>
    
    <div id="large-content-container" *ngIf="devopsConfig">
	    <div id="side-bar">
            <h4>Ansible</h4>
	        <ul class="navigation-left">
	            <li><a routerLink="ansible/general" routerLinkActive="active">General</a></li>
	            <li><a routerLink="ansible/jenkins" routerLinkActive="active">Jenkins</a></li>
	            <li><a routerLink="ansible/nagios" routerLinkActive="active">Nagios</a></li>
	        </ul>
	        
	        <h4>Hashicorp</h4>
            <ul class="navigation-left">
                <li><a routerLink="hashicorp/packer" routerLinkActive="active">Packer</a></li>
                <li><a routerLink="hashicorp/terraform" routerLinkActive="active">Terraform</a></li>
                <li><a routerLink="hashicorp/vault" routerLinkActive="active">Vault</a></li>
            </ul>
            
            <h4>Other</h4>
            <ul class="navigation-left">
                <li><a routerLink="other" routerLinkActive="active">Guest Additions</a></li>
            </ul>
	    </div>
	    <div>
            <h2 class="has-side-bar">Examples</h2>
            
            <div id="section">
	            <div class="footer">
	                <div class="body">
	                    <router-outlet (activate)="onOutletLoaded($event)"></router-outlet>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</div>
