###########################################################
# Vagrant ENV
###########################################################

# Config Variables
##################################################################################################
# UBUNTU BOXES
###############################
#VAGRANT_BOX="ubuntu/bionic64"

# CENTOS BOXES
###############################
#VAGRANT_BOX="bento/centos-7"
#VAGRANT_BOX="bento/centos-8"
#VAGRANT_BOX="bento/centos-stream-8"
# 'ICINGA-2' NOT WORK ON CENTOS 9
#VAGRANT_BOX="bento/centos-stream-9"

# AlmaLinux BOXES
###############################
#VAGRANT_BOX="almalinux/8"
#VAGRANT_BOX="almalinux/9"
VAGRANT_BOX="bento/almalinux-8"
#VAGRANT_BOX="bento/almalinux-9"

VAGRANT_BOX_VERSION=false
VAGRANT_BOX_ARCHITECTURE=false

RESIZE_DISK=false
DISK_SIZE='40GB'

HOST_NAME="devops.lh"
MASHINE_NAME="VS_DevOpsServer"
PRIVATE_IP='10.3.3.3'
VBOX_MACHINE_MEMORY='1024'
VBOX_MACHINE_SWAP_SIZE='2048'

PROVISION_CONFIG='vagrant.d/vagrantConfig.yaml'

PUBLIC_NETWORK=true
PUBLIC_IP='192.168.0.105'

SHARED_FOLDERS='{ "/projects": "../Developement" }'

####################################################################################################################################################
# Use Special Chars In Credentials
#---------------------------------------
# https://stackoverflow.com/questions/10054318/how-do-i-provide-a-username-and-password-when-running-git-clone-gitremote-git#answer-59284165
####################################################################################################################################################
GIT_CREDENTIALS='[ "https://user:pass@github.com", "https://user:pass@gitlab.com" ]'
