[submodule "vagrant.d/puppet/modules/gitlab"]
	path = vagrant.d/puppet/modules/gitlab
	url = https://github.com/voxpupuli/puppet-gitlab
[submodule "vagrant.d/puppet/modules/stdlib"]
	path = vagrant.d/puppet/modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
    branch = main
[submodule "vagrant.d/puppet/modules/sudo"]
	path = vagrant.d/puppet/modules/sudo
	url = https://github.com/saz/puppet-sudo.git
[submodule "vagrant.d/puppet/modules/jenkins"]
	path = vagrant.d/puppet/modules/jenkins
	url = https://github.com/voxpupuli/puppet-jenkins.git
[submodule "vagrant.d/puppet/modules/java"]
	path = vagrant.d/puppet/modules/java
	url = https://github.com/puppetlabs/puppetlabs-java.git
    branch = main
[submodule "vagrant.d/puppet/modules/archive"]
	path = vagrant.d/puppet/modules/archive
	url = https://github.com/voxpupuli/puppet-archive
[submodule "vagrant.d/puppet/modules/git"]
	path = vagrant.d/puppet/modules/git
	url = https://github.com/puppetlabs/puppetlabs-git
[submodule "vagrant.d/puppet/modules/epel"]
	path = vagrant.d/puppet/modules/epel
	url = https://github.com/stahnma/puppet-module-epel.git
[submodule "vagrant.d/puppet/modules/maven"]
	path = vagrant.d/puppet/modules/maven
	url = https://github.com/maestrodev/puppet-maven.git
[submodule "vagrant.d/puppet/modules/wget"]
	path = vagrant.d/puppet/modules/wget
	url = https://github.com/voxpupuli/puppet-wget.git
[submodule "vagrant.d/puppet/modules/php"]
	path = vagrant.d/puppet/modules/php
	url = https://github.com/voxpupuli/puppet-php
[submodule "vagrant.d/puppet/modules/yarn"]
	path = vagrant.d/puppet/modules/yarn
	url = https://github.com/artberri/puppet-yarn.git
[submodule "vagrant.d/puppet/modules/nodejs"]
	path = vagrant.d/puppet/modules/nodejs
	url = https://github.com/willdurand/puppet-nodejs.git
[submodule "vagrant.d/puppet/modules/inifile"]
	path = vagrant.d/puppet/modules/inifile
	url = https://github.com/puppetlabs/puppetlabs-inifile
    branch = main
[submodule "vagrant.d/puppet/modules/apache"]
	path = vagrant.d/puppet/modules/apache
	url = https://github.com/puppetlabs/puppetlabs-apache.git
    branch = main
[submodule "vagrant.d/puppet/modules/concat"]
	path = vagrant.d/puppet/modules/concat
	url = https://github.com/puppetlabs/puppetlabs-concat.git
    branch = main
[submodule "vagrant.d/puppet/modules/trycatch"]
	path = vagrant.d/puppet/modules/trycatch
	url = https://github.com/dalen/puppet-trycatch.git
[submodule "vagrant.d/puppet/modules/ansible"]
	path = vagrant.d/puppet/modules/ansible
	url = https://github.com/otherskins/puppet-ansible.git
[submodule "vagrant.d/puppet/modules/nagios"]
	path = vagrant.d/puppet/modules/nagios
	url = https://github.com/thias/puppet-nagios
[submodule "vagrant.d/puppet/modules/icinga2"]
	path = vagrant.d/puppet/modules/icinga2
	url = https://github.com/icinga/puppet-icinga2
[submodule "vagrant.d/puppet/modules/icingaweb2"]
	path = vagrant.d/puppet/modules/icingaweb2
	url = https://github.com/Icinga/puppet-icingaweb2.git
[submodule "vagrant.d/puppet/modules/mysql"]
	path = vagrant.d/puppet/modules/mysql
	url = https://github.com/puppetlabs/puppetlabs-mysql.git
    branch = main
[submodule "vagrant.d/puppet/modules/vcsrepo"]
	path = vagrant.d/puppet/modules/vcsrepo
	url = https://github.com/puppetlabs/puppetlabs-vcsrepo.git
    branch = main
[submodule "vagrant.d/puppet/modules/phpmyadmin"]
	path = vagrant.d/puppet/modules/phpmyadmin
	url = https://github.com/justicel/puppet-phpmyadmin.git
[submodule "vagrant.d/puppet/modules/vs_devops"]
	path = vagrant.d/puppet/modules/vs_devops
	url = https://github.com/iatanasov77/puppet-devops.git
[submodule "vagrant.d/puppet/modules/vs_lamp"]
	path = vagrant.d/puppet/modules/vs_lamp
	url = https://github.com/iatanasov77/puppet-lamp.git
	branch = main
[submodule "vagrant.d/puppet/modules/apache_httpd"]
	path = vagrant.d/puppet/modules/apache_httpd
	url = https://github.com/thias/puppet-apache_httpd.git
[submodule "vagrant.d/puppet/modules/nagios_core"]
	path = vagrant.d/puppet/modules/nagios_core
	url = https://github.com/puppetlabs/puppetlabs-nagios_core.git
[submodule "vagrant.d/puppet/modules/docker"]
	path = vagrant.d/puppet/modules/docker
	url = https://github.com/puppetlabs/puppetlabs-docker.git
    branch = main
[submodule "vagrant.d/puppet/modules/gnupg"]
	path = vagrant.d/puppet/modules/gnupg
	url = https://github.com/n1tr0g/golja-gnupg.git
[submodule "vagrant.d/puppet/modules/kubernetes"]
	path = vagrant.d/puppet/modules/kubernetes
	url = https://github.com/puppetlabs/puppetlabs-kubernetes.git
    branch = main
[submodule "vagrant.d/puppet/modules/datacat"]
	path = vagrant.d/puppet/modules/datacat
	url = https://github.com/richardc/puppet-datacat.git
[submodule "vagrant.d/puppet/modules/elastic_stack"]
	path = vagrant.d/puppet/modules/elastic_stack
	url = https://github.com/elastic/puppet-elastic-stack.git
[submodule "vagrant.d/puppet/modules/elasticsearch"]
	path = vagrant.d/puppet/modules/elasticsearch
	url = https://github.com/elastic/puppet-elasticsearch.git
[submodule "vagrant.d/puppet/modules/logstash"]
	path = vagrant.d/puppet/modules/logstash
	url = https://github.com/elastic/puppet-logstash.git
[submodule "vagrant.d/puppet/modules/kibana"]
	path = vagrant.d/puppet/modules/kibana
	url = https://github.com/elastic/puppet-kibana.git
[submodule "vagrant.d/puppet/modules/kmod"]
	path = vagrant.d/puppet/modules/kmod
	url = https://github.com/voxpupuli/puppet-kmod.git
[submodule "vagrant.d/puppet/modules/augeasproviders_sysctl"]
	path = vagrant.d/puppet/modules/augeasproviders_sysctl
	url = https://github.com/voxpupuli/puppet-augeasproviders_sysctl.git
[submodule "vagrant.d/puppet/modules/augeasproviders_core"]
	path = vagrant.d/puppet/modules/augeasproviders_core
	url = https://github.com/voxpupuli/puppet-augeasproviders_core.git
[submodule "vagrant.d/puppet/modules/systemd"]
	path = vagrant.d/puppet/modules/systemd
	url = https://github.com/voxpupuli/puppet-systemd.git
[submodule "vagrant.d/puppet/modules/hashi_stack"]
	path = vagrant.d/puppet/modules/hashi_stack
	url = https://github.com/voxpupuli/puppet-hashi_stack.git
[submodule "vagrant.d/puppet/modules/vs_core"]
	path = vagrant.d/puppet/modules/vs_core
	url = https://github.com/iatanasov77/puppet-core.git
    branch = main
[submodule "vagrant.d/puppet/modules/icinga"]
	path = vagrant.d/puppet/modules/icinga
	url = https://github.com/Icinga/puppet-icinga.git
