###> Eclipse project files
/.settings/
/.buildpath
/.project
###< Eclipse project files

##############################
# Ansible meta data
##############################
/ansible.d/playbook/roles/*/
!/ansible.d/playbook/roles/index
/ansible.d/log/
/ansible.d/playbook.retry

##############################
# Vagrant meta data
##############################
/.vagrant/
/vagrant.d/puppet/Puppetfile.lock
/vagrant.d/puppet/.librarian
/vagrant.d/puppet/.tmp
/ssh.EXE.stackdump
/.env
/var/
###< Vagrant files

### Here has confidential credentials
### The folder is stored in DropBox /Projects/VS_DevOpsServer/
/jenkins.d/casc/vs_devops.yaml

##############################
# GUI
##############################
/gui/var/*

