<ul class="article" *ngIf="devopsConfig?.subsystems.ansible.enabled">
    <li class="first">
        <div style="border: 1px solid black; height: auto; margin: 20px; padding: 0 0 20px 0; text-align: center;">
			<h3>Install Ansible Roles Requirements</h3>
            <div>
                <div>ansible-galaxy install --roles-path /vagrant/ansible.d/playbook/roles -r /vagrant/ansible.d/requirements.yml --force</div>
            </div>
        </div>
    </li>
    <li class="first">
        <div style="border: 1px solid black; height: auto; margin: 20px; padding: 0 0 20px 0; text-align: center;">
	        <h3>Install Jenkins Slaves Agents with Ansible</h3>
            <div>
                <div>sudo ansible-playbook -i /vagrant/ansible.d/inventory /vagrant/ansible.d/playbook/install-jenkins-slaves.yml -e "jenkins_master='10.3.3.3' jenkins_swarm_client_version='3.40'"</div>
            </div>
            
            <h3>Setup Default JRE Version</h3>
            <div>
                <div>sudo alternatives --config java</div>
            </div>
            <h3>Start/Restart Jenkins Swarm Client on Slave Host</h3>
            <div>
                <div>sudo service jenkins-swarm-client restart</div>
            </div>
	    </div>
    </li>
    <li class="first">
        <div style="border: 1px solid black; height: auto; margin: 20px; padding: 0 0 20px 0; text-align: center;">
            <h3>Install Nagios NRPE Agents with Ansible</h3>
            <div>
                <div>sudo ansible-playbook -i /vagrant/ansible.d/inventory /vagrant/ansible.d/playbook/install-nagios-nrpe-agents.yml</div>
                <div>sudo /usr/lib64/nagios/plugins/check_nrpe -H 10.3.3.2</div>
            </div>
            
            <h3>Start/Restart Nagios Server (Check Configs Before)</h3>
            <div>
                <div>sudo nagios -v /etc/nagios/nagios.cfg</div>
                <div>sudo service nagios restart</div>
            </div>
        </div>
    </li>
</ul>