<ul class="article" *ngIf="devopsConfig?.subsystems.ansible.enabled">
    <li class="first">
        <div style="border: 1px solid black; height: auto; margin: 20px; padding: 0 0 20px 0; text-align: center;">
	        <h3>Install Jenkins Slaves Agents with Ansible</h3>
            <div>
                <div>ansible-playbook -i /vagrant/ansible.d/inventory /vagrant/ansible.d/playbook/install-jenkins-slaves.yml -e "jenkins_master='{{ devopsConfig?.hostAddress }}' jenkins_swarm_client_version='{{ devopsConfig?.subsystems.jenkins.swarmVersion }}'"</div>
            </div>
            
            <h3>Setup Default JRE Version</h3>
            <div>
                <div>sudo alternatives --config java</div>
            </div>
            <h3>Start/Restart Jenkins Swarm Client on Slave Host</h3>
            <div>
                <div>sudo service jenkins-swarm-client restart</div>
            </div>
	    </div>
    </li>
</ul>