<ul class="article">
	<li class="first">
        <div *ngIf="devopsConfig?.subsystems.hashicorp.enabled" style="border: 1px solid black; height: auto; margin: 20px; padding: 0 0 20px 0; text-align: center;">
            <h3>Terraform Examples</h3>
            <div>
                <div>cd /vagrant/terraform.d</div>
                <div>terraform init</div>
                <div>terraform apply</div>
            </div>
            <div>
                <div>And then open in your host browser http://docker.lh</div>
            </div>
        </div>
    </li>
</ul>