<div id="content">
    <h2>Examples</h2>
    
    <app-loader *ngIf="showSpinner"></app-loader>
</div>

<div id="section" *ngIf="devopsConfig">
    <div class="footer">
	    <div class="body">
	        <ul class="article">
	            <li class="first">
			        <div *ngIf="devopsConfig.subsystems.hashicorp.enabled" style="border: 1px solid black; height: auto; margin: 20px; padding: 0 0 20px 0; text-align: center;">
			            
			            <h3>Packer Examples</h3>
			            <div>
                            <div>
                                <strong>Manual Vagrant Box Builders: </strong>
                                <a target="_blank" href="https://developer.hashicorp.com/packer/plugins/builders/vagrant#example">
	                                https://developer.hashicorp.com/packer/plugins/builders/vagrant#example
	                            </a>
                            </div>
                        </div>
                        <div style="border-top: 1px solid black; width: 400px; margin: 10px auto; padding-top: 10px;">
                            <div>cd /vagrant/packer.d</div>
                            <div>packer build centos-packer.json</div>
                        </div>
                        <div style="border-top: 1px solid black; width: 400px; margin: 10px auto; padding-top: 10px;">
                            <div>cd /vagrant/packer.d</div>
                            <div>packer build ubuntu-kde.json</div>
                        </div>
			            
			            <h3>Terraform Examples</h3>
			            <div>
			                <div>cd /vagrant/terraform.d</div>
			                <div>terraform init</div>
			                <div>terraform apply</div>
			            </div>
			            <div>
			                <div>And then open in your host browser http://docker.lh</div>
			            </div>
			            
			            <h3>Vault UI</h3>
                        <div>
                            <div><strong>Start Server:</strong> sudo vault server -config=/etc/vault/config.hcl</div>
                            <div><strong>Remove Seal Data If Needed:</strong> sudo rm -rf /var/lib/vault</div>
                            <div><strong>Manual:</strong> https://developer.hashicorp.com/vault/tutorials/getting-started/getting-started-ui</div>
                        </div>
                        <div style="border-top: 1px solid black; width: 400px; margin: 10px auto; padding-top: 10px;">
                            <div>vault kv get secret/my_projects</div>
                            <div>vault kv get -field=foo secret/my_projects</div>
                        </div>
			        </div>
			        <div *ngIf="devopsConfig.subsystems.ansible.enabled" style="border: 1px solid black; height: auto; margin: 20px; padding: 0 0 20px 0; text-align: center;">
			            <h3>Ansible Examples</h3>
			            <div>
			                <div>ansible-galaxy install --roles-path /vagrant/ansible.d/playbook/roles -r /vagrant/ansible.d/requirements.yml --force</div>
			                <div>sudo ansible-playbook -i /vagrant/ansible.d/inventory /vagrant/ansible.d/playbook/install-jenkins-slaves.yml</div>
			            </div>
			            
			            <h3>Install Nagios NRPE Agents with Ansible</h3>
                        <div>
                            <div>sudo ansible-playbook -i /vagrant/ansible.d/inventory /vagrant/ansible.d/playbook/install-nagios-nrpe-agents.yml</div>
                            <div>sudo /usr/lib64/nagios/plugins/check_nrpe -H 10.3.3.2</div>
                        </div>
			            
			            <h3>Setup Default JRE Version</h3>
			            <div>
			                <div>sudo alternatives --config java</div>
			            </div>
			            <h3>Start/Restart Jenkins Swarm Client on Slave Host</h3>
			            <div>
			                <div>sudo service jenkins-swarm-client restart</div>
			            </div>
			            
			            <h3>Start/Restart Nagios Server (Check Configs Before)</h3>
                        <div>
                            <div>sudo nagios -v /etc/nagios/nagios.cfg</div>
                            <div>sudo service nagios restart</div>
                        </div>
			            
			        </div>
			        <div style="border: 1px solid black; height: auto; margin: 20px; padding: 0 0 20px 0; text-align: center;">
			            <h3>How to Fix Guest Additions to Can Mount Shared Folders</h3>
			            <div>
			                <div>sudo yum install elfutils-libelf-devel</div>
			                <div>cd /opt/VBoxGuestAdditions-*/init</div>
			                <div>sudo ./vboxadd setup</div>
			            </div>
			        </div>
			    </li>
			</ul>
		</div>
	</div>
</div>
