<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@1.1.11">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <name>origin</name>
        <refspec>+refs/heads/*:refs/remotes/origin/*</refspec>
        <url>https://iatanasov77:i7708098503@gitlab.com/iatanasov77/vankosoft.org.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>develop</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <localBranch>develop</localBranch>
    <userMergeOptions>
      <mergeRemote>origin</mergeRemote>
      <mergeTarget>develop</mergeTarget>
    </userMergeOptions>
    <recursiveSubmodules>false</recursiveSubmodules>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <authorOrCommitter>false</authorOrCommitter>
    <clean>false</clean>
    <wipeOutWorkspace>false</wipeOutWorkspace>
    <pruneBranches>false</pruneBranches>
    <buildChooser class="hudson.plugins.git.util.DefaultBuildChooser"/>
    <gitTool>Default</gitTool>
    <submoduleCfg class="list"/>
    <relativeTargetDir></relativeTargetDir>
    <excludedRegions></excludedRegions>
    <excludedUsers></excludedUsers>
    <gitConfigName>Ivan I. Atanasov</gitConfigName>
    <gitConfigEmail>i.atanasov77@gmail.com</gitConfigEmail>
    <skipTag>true</skipTag>
    <scmName></scmName>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>git branch --set-upstream-to=origin/develop develop
git pull origin develop</command>
    </hudson.tasks.Shell>
    <hudson.plugins.phing.PhingBuilder plugin="phing@0.13.3">
      <targets>install-production</targets>
      <useModuleRoot>true</useModuleRoot>
    </hudson.plugins.phing.PhingBuilder>
    <hudson.tasks.Shell>
      <command>git ftp push --user $FTP_USERNAME --passwd $FTP_PASSWORD ftp://ftp.babymarket.bg/projects/VankoSoft.Org/production --disable-epsv</command>
    </hudson.tasks.Shell>
    <org.jvnet.hudson.plugins.SSHBuilder plugin="ssh@2.6.1">
      <siteName>babynfcj@babymarket.bg:1022</siteName>
      <command>cd projects/VankoSoft.Org/production

/opt/cpanel/ea-php72/root/usr/bin/php /home/babynfcj/projects/VankoSoft.Org/production/bin/console cache:clear
/opt/cpanel/ea-php72/root/usr/bin/php /home/babynfcj/projects/VankoSoft.Org/production/bin/console doctrine:database:import /home/babynfcj/projects/VankoSoft.Org/production/docs/sql/VankoSoft_Org_20200305.sql -vvv
</command>
      <execEachLine>true</execEachLine>
      <hideCommand>false</hideCommand>
    </org.jvnet.hudson.plugins.SSHBuilder>
  </builders>
  <publishers/>
  <buildWrappers>
    <org.jenkinsci.plugins.credentialsbinding.impl.SecretBuildWrapper plugin="credentials-binding@1.15">
      <bindings>
        <org.jenkinsci.plugins.credentialsbinding.impl.UsernamePasswordMultiBinding>
          <credentialsId>babynarket-hosting</credentialsId>
          <usernameVariable>FTP_USERNAME</usernameVariable>
          <passwordVariable>FTP_PASSWORD</passwordVariable>
        </org.jenkinsci.plugins.credentialsbinding.impl.UsernamePasswordMultiBinding>
      </bindings>
    </org.jenkinsci.plugins.credentialsbinding.impl.SecretBuildWrapper>
  </buildWrappers>
</project>