<ul class="article">
	<li class="first">
	    <div *ngIf="devopsConfig?.subsystems.hashicorp.enabled" style="border: 1px solid black; height: auto; margin: 20px; padding: 0 0 20px 0; text-align: center;">
	        <h3>Packer Examples</h3>
	        <div>
	            <div>
	                <strong>Manual Vagrant Box Builders: </strong>
	                <a target="_blank" href="https://developer.hashicorp.com/packer/plugins/builders/vagrant#example">
	                    https://developer.hashicorp.com/packer/plugins/builders/vagrant#example
	                </a>
	            </div>
	            <div>
	                <strong>Manual Packer Init: </strong>
	                <a target="_blank" href="https://developer.hashicorp.com/packer/docs/commands/init">
	                    https://developer.hashicorp.com/packer/docs/commands/init
	                </a>
	            </div>
	            <div>packer hcl2_upgrade ubuntu-kde.json</div>
	        </div>
	        <div style="border-top: 1px solid black; width: 400px; margin: 10px auto; padding-top: 10px;">
	            <div>cd /vagrant/packer.d</div>
	            <div>packer build centos-packer.json</div>
	        </div>
	        <div style="border-top: 1px solid black; width: 400px; margin: 10px auto; padding-top: 10px;">
	            <div>cd /vagrant/packer.d</div>
	            <div>packer build ubuntu-kde.json</div>
	        </div>
	    </div>
	</li>
</ul>